.desktop {
  position: relative;
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  background: #FFFFFF;
  background-image: url("../img/Rectangle\ 7.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  scrollbar-width: none ;
}
.desktop .header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 24px 0px;
  position: fixed;
  width: 100%;
  height: 103px;
  left: 0px;
  top: 0px;
}
.nav {
  display: inline-flex;
  gap: 70px;
  padding: 16px 40px;
  flex: 0 0 auto;
  background-color: #0000000d;
  border-radius: 40px;
  backdrop-filter: blur(35px) brightness(100%);
  -webkit-backdrop-filter: blur(35px) brightness(100%);
  align-items: center;
  justify-content: center;
  position: relative;
}
.info_conteiner{
  width: 100%;
  height: 60vh;
}

.text-wrapper-2 {

  width: 34px;
  height: 23px;
  font-family: 'Anton';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 145%;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: -0.005em;
  color: rgba(239, 227, 58, 0.83);
  flex: none;
  order: 0;
  flex-grow: 0;

}
.text-wrapper-3 {

  width: 43px;
  height: 23px;

  font-family: 'Anton';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 145%;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: -0.005em;
  text-decoration-line: underline;
  color: rgba(239, 227, 58, 0.83);
  flex: none;
  order: 1;
  flex-grow: 0;

}
.text-wrapper{

  position: absolute;
  width: 474px;
  height: 520px;
  left: 676px;
  top: 230px;

  font-family: 'Anton';
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 145%;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: -0.005em;

  color: #FFFFFF;


}
.div {
  width: 360px;
  height: 616px;
  background: #D9D9D9;
  background-size: cover;
  background-position: center;
  margin-left: 10vw;
}

.hero-section .cards {

  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: row;
  flex-wrap: wrap;

}
.rectangle-8 {

  width: 150px;
  height: 200px;
  right: 55px;
  bottom: 22px;

  background: #D9D9D9;
  border-radius: 4px;
  background-image: url("../img/mini-cards/BattleBeast_thumb1-1.png");
  background-position: center;
  background-size: cover;
  cursor: pointer;
}
.rectangle-7 {

  width: 150px;
  height: 200px;
  left: 865px;
  bottom: 22px;
  background: #D9D9D9;
  background-image: url("../img/mini-cards/REXSPLODE_thumb.png");
  background-position: center;
  background-size: cover;
  border-radius: 4px;
  cursor: pointer;

}
.rectangle-6 {

  width: 150px;
  height: 200px;
  left: 655px;
  bottom: 22px;
  background: #D9D9D9;
  background-image: url("../img/mini-cards/Thula_thumbnail1-1.png");
  background-position: center;
  background-size: cover;
  border-radius: 4px;
  cursor: pointer;

}
.rectangle-5 {

  width: 150px;
  height: 200px;
  left: 445px;
  bottom: 22px;

  background: #D9D9D9;
  background-image: url("../img/mini-cards/Bulletproof_thumbnail.png");
  background-position: center;
  background-size: cover;
  border-radius: 4px;
  cursor: pointer;

}
.rectangle-4 {

  width: 150px;
  height: 200px;
  left: 235px;
  bottom: 22px;

  background: #D9D9D9;
  background-image: url("../img/mini-cards/AtomEve_thumbnail.png");
  background-position: center;
  background-size: cover;
  border-radius: 4px;
  cursor: pointer;

}
.rectangle-3 {

  width: 150px;
  height: 200px;
  bottom: 22px;
  background: #D9D9D9;
  background-image: url("../img/mini-cards/Invincible_thumbnail.png");
  background-position: center;
  background-size: cover;
  border-radius: 4px;
  cursor: pointer;

}

#card_p {
  opacity: 0;
}
.hero-section {
  /* min-height: 100vh; */
  height: 100%;
  padding-top: 120px;
  display: flex;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  /* gap: 40px; */
  /* max-width: 1200px; */
  margin: auto;
}
.cards {
  align-items: center;
  justify-content: center;
  gap: 24px;
  margin-top: 40px;
  flex-wrap: wrap;
}

.show {
  animation: aparecer_perso 1s ease forwards;
  border: 10px solid rgba(239, 227, 58, 0.83);
}

@keyframes aparecer_perso {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0px);
  }
}

@media (max-width: 1024px) {
  /* TABLET */
  .hero-section {
    padding-top: 120px;
    display: flex;
    justify-content: center;
  }

  .text-wrapper {
    max-width: 420px;
    font-size: 32px;
  }

  .div {
    width: 320px;
    height: 560px;
  }
}

@media (max-width: 768px) {
  /* MOBILE */
  .nav {
    gap: 24px;
    padding: 12px 20px;
  }

  .hero-section {
    padding-top: 140px;
  }

  .info_conteiner {
    flex-direction: column;
    height: auto;
  }

  .text-wrapper {
    position: static;
    width: 100%;
    max-width: 90%;
    font-size: 28px;
    margin-bottom: 32px;
  }

  .div {
    width: 280px;
    height: 480px;
    margin-left: 0;
  }

  .cards {
    gap: 16px;
  }

  .rectangle-3,
  .rectangle-4,
  .rectangle-5,
  .rectangle-6,
  .rectangle-7,
  .rectangle-8 {
    width: 120px;
    height: 160px;
  }
}

@media (max-width: 480px) {
  /* MOBILE PEQUENO */
  .nav {
    gap: 16px;
  }

  .text-wrapper {
    font-size: 24px;
  }

  .rectangle-3,
  .rectangle-4,
  .rectangle-5,
  .rectangle-6,
  .rectangle-7,
  .rectangle-8 {
    width: 100px;
    height: 140px;
  }
}
