.desktop {
  /* Desktop */
  position: relative;
  width: 1280px;
  height: 1080px;
  left: 64px;
  top: 100px;
  overflow-y: scroll;
  background: #FFFFFF;
}
.header {
  /* Header 1 */
/* Layout automático */
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 24px 0px;
  position: absolute;
  width: 1280px;
  height: 103px;
  left: 0px;
  top: 0px;
}
.nav {
  /* Header 1 */

/* Layout automático */
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 24px 0px;
  position: absolute;
  width: 1280px;
  height: 103px;
  left: 0px;
  top: 0px;
}
.text-wrapper-2 {
  /* INICIO */

  width: 34px;
  height: 23px;

  font-family: 'Anton';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 145%;
  /* ou 23px */
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: -0.005em;

  color: rgba(239, 227, 58, 0.83);


  /* Auto layout por dentro */
  flex: none;
  order: 0;
  flex-grow: 0;

}
.text-wrapper-3 {
  /* ELENCO */

  width: 43px;
  height: 23px;

  font-family: 'Anton';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 145%;
  /* ou 23px */
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: -0.005em;
  text-decoration-line: underline;

  color: rgba(239, 227, 58, 0.83);


  /* Auto layout por dentro */
  flex: none;
  order: 1;
  flex-grow: 0;

}
.text-wrapper{
  /* fgbdcbxbxccnxbczbnzcxnbxcbnncxbnzcxbmnnxcjhkzcdfbnmjcxbnmjdfcvjmhbfdjhfvjdhbcxfvdjhbfvdhjbvxdfhbjfvhb */

  position: absolute;
  width: 474px;
  height: 520px;
  left: 676px;
  top: 230px;

  font-family: 'Anton';
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 145%;
  /* ou 52px */
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: -0.005em;

  color: #FFFFFF;


}
.div {
  /* Rectangle 16 */

  position: absolute;
  width: 360px;
  height: 616px;
  left: 134px;
  top: 157px;

  background: #D9D9D9;
  background-size: cover;
  background-position: center;
}
.rectangle-2 {
  /* Rectangle 9 */

  position: absolute;
  height: 245px;
  left: 0px;
  right: 0px;
  bottom: 0px;

  background: #283D5A;

}
.cards {
  /* cards */

  position: absolute;
  width: 1200px;
  height: 200px;
  left: 25px;
  top: 858px;

}
.rectangle-8 {
  /* Rectangle 15 */

  position: absolute;
  width: 150px;
  height: 200px;
  right: 55px;
  bottom: 22px;

  background: #D9D9D9;
  border-radius: 4px;
  background-image: url("../img/mini-cards/BattleBeast_thumb1-1.png");
  background-position: center;
  background-size: cover;
  cursor: pointer;
}
.rectangle-7 {
  /* Rectangle 14 */

  position: absolute;
  width: 150px;
  height: 200px;
  left: 865px;
  bottom: 22px;
  background: #D9D9D9;
  background-image: url("../img/mini-cards/REXSPLODE_thumb.png");
  background-position: center;
  background-size: cover;
  border-radius: 4px;
  cursor: pointer;

}
.rectangle-6 {
  /* Rectangle 13 */

  position: absolute;
  width: 150px;
  height: 200px;
  left: 655px;
  bottom: 22px;
  background: #D9D9D9;
  background-image: url("../img/mini-cards/Thula_thumbnail1-1.png");
  background-position: center;
  background-size: cover;
  border-radius: 4px;
  cursor: pointer;

}
.rectangle-5 {
  /* Rectangle 12 */

  position: absolute;
  width: 150px;
  height: 200px;
  left: 445px;
  bottom: 22px;

  background: #D9D9D9;
  background-image: url("../img/mini-cards/Bulletproof_thumbnail.png");
  background-position: center;
  background-size: cover;
  border-radius: 4px;
  cursor: pointer;

}
.rectangle-4 {
  /* Rectangle 11 */

  position: absolute;
  width: 150px;
  height: 200px;
  left: 235px;
  bottom: 22px;

  background: #D9D9D9;
  background-image: url("../img/mini-cards/AtomEve_thumbnail.png");
  background-position: center;
  background-size: cover;
  border-radius: 4px;
  cursor: pointer;

}
.rectangle-3 {
  /* Rectangle 10 */

  position: absolute;
  width: 150px;
  height: 200px;
  left: 25px;
  bottom: 22px;
  background: #D9D9D9;
  background-image: url("../img/mini-cards/Invincible_thumbnail.png");
  background-position: center;
  background-size: cover;
  border-radius: 4px;
  cursor: pointer;

}
.hero-section {
  /* Rectangle 8 */

  position: absolute;
  width: 1280px;
  height: 980px;
  left: 0px;
  top: 0px;

  background: radial-gradient(21.48% 21.48% at 50% 50%, rgba(101, 97, 97, 0.5) 0%, rgba(22, 21, 21, 0.6) 100%);

}
.rectangle {
  /* Rectangle 7 */

  position: absolute;
  width: 1280px;
  height: 980px;
  left: 0px;
  top: 0px;

  /* background: url(inv7.png); */

}
#card_p {
  opacity: 0;
}
.show {
  animation: aparecer_perso 1s ease forwards;
  border: 10px solid rgba(239, 227, 58, 0.83);
}

@keyframes aparecer_perso {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0px);
  }
}