.frame {
  background-color: #ffffff;
  width: 100%;
  min-width: 0;
  min-height: 2864px;
  display: flex;
  position: relative;

}
.frame .desktop {
  display: flex;
  width: 100%;
  max-width: 100%;
  height: 2864px;
  position: relative;
  flex-direction: column;
  align-items: center;
  background-color: #ffffff;
  overflow: hidden;
  overflow-x: scroll;
}

.frame .desktop::-webkit-scrollbar {
  width: 0;
  display: none;
}

/* .frame .rectangle {
  position: absolute;
  top: 1960px;
  left: 0;
  width: 1280px;
  height: 980px;
  background-color: #b8aaaa4c;
  opacity: 0.8;
} */

.frame .img {
  position: absolute;
  top: 2219px;
  left: 733px;
  width: 500px;
  height: 500px;
  object-fit: cover;
}

/* .frame .rectangle-2 {
  position: relative;
  width: 1280px;
  height: 980px;
  object-fit: cover;
} */

.frame .div {
  position: absolute;
  top: 0;
  left: 0;
  width: 1280px;
  height: 980px;
  background: radial-gradient(
    50% 50% at 61% 13%,
    rgba(98, 95, 95, 0.65) 0%,
    rgba(25, 20, 20, 0.65) 100%
  );
  opacity: 0.9;
}

/* .frame .rectangle-3 {
  position: relative;
  width: 1280px;
  height: 980px;
  background: linear-gradient(
    180deg,
    rgba(11, 22, 27, 1) 0%,
    rgba(39, 49, 50, 1) 42%,
    rgba(77, 100, 110, 1) 68%,
    rgba(192, 191, 191, 1) 100%
  );
} */

.frame .text-wrapper {
  position: absolute;
  top: 239px;
  left: calc(50.00% - 599px);
  width: 718px;
  height: 326px;
  display: flex;
  align-items: center;
  justify-content: center;
  -webkit-text-stroke: 3px #00bcf0;
  font-family: "Anton-Regular", Helvetica;
  font-weight: 400;
  color: #fbfeff;
  font-size: 96px;
  text-align: center;
  letter-spacing: -0.48px;
  line-height: 139.2px;
}

.frame .p {
  position: absolute;
  top: 1178px;
  left: 82px;
  width: 531px;
  height: 580px;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  transform: rotate(-0.20deg);
  -webkit-text-stroke: 2px #ffe556;
  font-family: "Anton-Regular", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 40px;
  letter-spacing: -0.20px;
  line-height: 58.0px;
}

/* .frame .rectangle-4 {
  position: relative;
  width: 1280px;
  height: 980px;
  background-color: #6461611a;
} */

.frame .text-wrapper-2 {
  position: absolute;
  top: 2183px;
  left: 62px;
  width: 690px;
  height: 513px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Anton-Regular", Helvetica;
  font-weight: 400;
  color: #f9d404;
  font-size: 40px;
  letter-spacing: -0.20px;
  line-height: 58.0px;
}

.frame .header {
  display: flex;
  /* width: 1280px; */
  width: 100%;
  align-items: center;
  justify-content: center;
  padding: 24px 0px;
  position: absolute;
  top: 0;
  left: 0;
}

.frame .div-2 {
  position: relative;
  /* width: 1420px;  */
  height: 3529px;
  /* margin-left: -259.50px; */
}

.frame .nav {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 70px;
  padding: 16px 40px;
  /* position: relative; */
  flex: 0 0 auto;
  /* margin-right: -259.50px; */
  background-color: #0000000d;
  border-radius: 40px;
  backdrop-filter: blur(35px) brightness(100%);
  -webkit-backdrop-filter: blur(35px) brightness(100%);
}

.frame .text-wrapper-3 {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: fit-content;
  margin-top: -1.00px;
  font-family: "Anton-Regular", Helvetica;
  font-weight: 400;
  color: #efe33ad4;
  font-size: 16px;
  text-align: center;
  letter-spacing: -0.08px;
  line-height: 23.2px;
  white-space: nowrap;
}

.frame .text-wrapper-4 {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: fit-content;
  margin-top: -1.00px;
  font-family: "Anton-Regular", Helvetica;
  font-weight: 400;
  color: #efe33ad4;
  font-size: 16px;
  text-align: center;
  letter-spacing: -0.08px;
  line-height: 23.2px;
  text-decoration: underline;
  white-space: nowrap;
}
/* Original CSS code should be injected here */

/* .frame .desktop {
  display: flex;
  width: 1280px;
  height: 2864px;
  position: relative;
  flex-direction: column;
  align-items: center;
  background-color: #ffffff;
  overflow: hidden;
  overflow-x: scroll;
}

.frame .desktop::-webkit-scrollbar {
  width: 0;
  display: none;
} */

.frame .hero-section {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.frame .hero-background-image {
  position: absolute;
  width: 100vw;
  height: 980px;
  object-fit: cover;
  background-position: center;
}

.frame .hero-gradient-overlay {
  width: 100vw;
  height: 980px;
  background: radial-gradient(
    50% 50% at 61% 13%,
    rgba(98, 95, 95, 0.65) 0%,
    rgba(25, 20, 20, 0.65) 100%
  );
  opacity: 0.9;
  pointer-events: none;
}

.frame .hero-title {
  position: absolute;
  top: 239px;
  left: calc(50.00% - 599px);
  width: 718px;
  height: 326px;
  display: flex;
  align-items: center;
  justify-content: center;
  -webkit-text-stroke: 3px #00bcf0;
  font-family: "Anton-Regular", Helvetica;
  font-weight: 400;
  color: #fbfeff;
  font-size: 96px;
  text-align: center;
  letter-spacing: -0.48px;
  line-height: 139.2px;
  z-index: 1;
}

.frame .story-section {
  position: relative;
  width: 100vw;
  height: 980px;
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
}

.frame .story-background {
  position: absolute;
  width: 100vw;
  height: 980px;
  background: linear-gradient(
    180deg,
    rgba(11, 22, 27, 1) 0%,
    rgba(39, 49, 50, 1) 42%,
    rgba(77, 100, 110, 1) 68%,
    rgba(192, 191, 191, 1) 100%
  );
}

.frame .story-description {
  position: absolute;
  top: 198px;
  left: 82px;
  width: 531px;
  height: 580px;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  transform: rotate(-0.20deg);
  -webkit-text-stroke: 2px #ffe556;
  font-family: "Anton-Regular", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 40px;
  letter-spacing: -0.20px;
  line-height: 58.0px;
  z-index: 1;
}

.frame .invitation-section {
  position: relative;
  width: 100vw;
  height: 980px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.frame .invitation-background {
  position: relative;
  width: 100vw;
  height: 980px;
  background-color: #6461611a;
}

.frame .invitation-background-overlay {
  position: absolute;
  width: 100vw;
  height: 980px;
  background-color: #b8aaaa4c;
  opacity: 0.8;
}

.frame .invitation-character-image {
  position: absolute;
  top: 259px;
  left: 50vw;
  width: 500px;
  height: 500px;
  object-fit: cover;
  z-index: 0;
}

.frame .invitation-text {
  position: absolute;
  top: 223px;
  left: 62px;
  width: 690px;
  height: 513px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Anton-Regular", Helvetica;
  font-weight: 400;
  color: #f9d404;
  font-size: 40px;
  letter-spacing: -0.20px;
  line-height: 58.0px;
  z-index: 2;
}

.frame .header {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  padding: 24px 0px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
}

/* .frame .header-spacer {
  position: relative;
  width: 1420px;
  height: 3529px;
  margin-left: -259.50px;
  pointer-events: none;
} */

/* .frame .nav {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 70px;
  padding: 16px 40px;
  position: relative;
  flex: 0 0 auto;
  margin-right: -259.50px;
  margin-left: -150vh;
  background-color: #0000000d;
  border-radius: 40px;
  backdrop-filter: blur(35px) brightness(100%);
  -webkit-backdrop-filter: blur(35px) brightness(100%);
} */

.frame .nav-link {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: fit-content;
  margin-top: -1.00px;
  font-family: "Anton-Regular", Helvetica;
  font-weight: 400;
  color: #efe33ad4;
  font-size: 16px;
  text-align: center;
  letter-spacing: -0.08px;
  line-height: 23.2px;
  white-space: nowrap;
  text-decoration: none;
  cursor: pointer;
}

.frame .nav-link:hover {
  color: #ffffff;
}

.frame .nav-link:focus {
  outline: 2px solid #00bcf0;
  outline-offset: 2px;
}

.frame .nav-link-active {
  text-decoration: none;
}

.frame .nav-link-underline {
  text-decoration: underline;
}
.hero-section,
.story-section,
.invitation-section {
  width: 100%;               
  min-height: 100vh;         
  position: relative;
}
.hero-background-image,
.hero-gradient-overlay,
.story-background,
.invitation-background,
.invitation-background-overlay {
  width: 100%;
  height: 100%;
}

@media (max-width: 1200px) {
  .frame .hero-title {
    position: relative;
    top: 50vh;
    left: auto;
    width: 100%;
    text-align: center;
    flex-direction: column;
    font-size: clamp(28px, 7vh, 42px);
    height: auto;
  }
  .frame .header {
    width: 100%;
  }
  .frame .hero-section {
    width: 100%;
    position: relative;
    overflow: hidden;
  }
  .frame .hero-background-image {
    width: 100%;
    object-fit: cover;
    object-position: 100% center;
  }
  .frame .story-section {
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }
  .frame .story-description {
    width: 70%;
    font-size: clamp(40px, 5vh, 70px);
    align-items: center;
    position: relative;
    top: auto;
    left: auto;
  }
  .frame .invitation-section {
    flex-wrap: wrap;
    flex-direction: column;
    height: 100vh;
  }
  .frame .invitation-text {
    position: absolute;
    top: 60vh;
    left: 30vh;
    width: 70%;
    height: auto;
    text-align: left;
    font-size: 40px;
    font-size: clamp(30px, 40px, 50px);
    line-height: 1.5;
    padding: 24px 16px;
    margin: 0;
  }
  .frame .invitation-section .invitation-character-image {
    position: absolute;
    left: auto;
    top: auto;
    height: 60vh;
    width: 80%;
    margin: 0 auto;
    content: url("../img/Rectangle_20-removebg-preview.png");
  }
}
@media (max-width: 1030px) {
  .frame .invitation-text {
    font-size: clamp(25px, 35px, 45px);
    font-weight: bold;
  }
  .frame .nav a {
    font-size: clamp(12px,22px,32px);
  }
}
@media (max-width: 1000px) {
  .frame .invitation-text {
    font-size: clamp(25px, 35px, 45px);
    width: 65%;
    left: 40vh;
    top: 80vh;
    max-width: 80%;
  }
  .frame .invitation-section .invitation-character-image {
    height: 60vh;
    width: 60%;
    top: 20vh;
    object-fit: cover;
  }
}
@media (max-width: 900px) {
  .frame .story-description {
    width: 50%;
    font-size: clamp(20px, 40px, 50px);
  }
  
}
@media (max-width: 750px) {
  .frame .story-description {
    width: 40%;
    font-size: clamp(20px, 40px, 50px);
  }
  .frame .invitation-text {
    position: relative;
    left: auto;
    width: 50%;
    font-size: 30px;
  }
  .frame .hero-title {
    top: min(40vh);
  }
}
@media (max-width: 600px) {
  .frame .invitation-section .invitation-character-image {
    width: 40%;
    top: 10vh;
    object-fit: contain;
  }
  .frame .invitation-text {
    top: 60vh;
    font-size: 30px;
    width: 40%;
  }
  .frame .story-description {
    position: relative;
    width: 30%;
  }
}
@media (max-width: 500px) {
  .frame .header .nav a{
    font-size: 15px;
  }
}