body, html {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  background: #00bcf0;
  
}


.desktop {
  width: 100%;
  height: 2804px;
  display: flex;
  justify-content: center;
}

.desktop .origem {
  position: absolute;
  width: calc(100% - 120px);
  height: calc(100% - 1997px);
  top: 103px;
  left: 62px;
}

.desktop .rectangle {
  width: 50vw;
  height: 100%;
  background-color: #fffffff2;
  border-radius: 8px;
}

.desktop .text-wrapper {
  position: absolute;
  top: 96px;
  left: calc(50.00% - 157px);
  width: 299px;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Bebas Neue-Regular", Helvetica;
  font-weight: 400;
  color: #f5c400;
  font-size: 128px;
  text-align: center;
  letter-spacing: -0.64px;
  line-height: 185.6px;
  white-space: nowrap;
}

.desktop .div {
  position: absolute;
  width: calc(100% - 80px);
  left: 45px;
  bottom: 171px;
  height: 290px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Inter-Bold", Helvetica;
  font-weight: 700;
  color: #111111;
  font-size: 40px;
  letter-spacing: -0.20px;
  line-height: 58.0px;
}

.desktop .serie {
  position: absolute;
  width: calc(100% - 120px);
  height: calc(100% - 1997px);
  top: 998px;
  left: 62px;
}

.desktop .p {
  position: absolute;
  top: 116px;
  right: 61px;
  width: 1043px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Bebas Neue-Regular", Helvetica;
  font-weight: 400;
  color: #f5c400;
  font-size: 96px;
  text-align: center;
  letter-spacing: -0.48px;
  line-height: 139.2px;
  white-space: nowrap;
}

.desktop .a-adapta-o-para-a-TV {
  position: absolute;
  width: calc(100% - 80px);
  left: 38px;
  bottom: 274px;
  height: 188px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Inter-Bold", Helvetica;
  font-weight: 700;
  color: #111111;
  font-size: 40px;
  letter-spacing: -0.20px;
  line-height: 58.0px;
}

.desktop .proposta {
  position: absolute;
  width: calc(100% - 124px);
  left: 62px;
  bottom: 104px;
  height: 807px;
  display: flex;
  flex-direction: column;
  background-color: #fffffff2;
  border-radius: 8px;
}

.desktop .text-wrapper-2 {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 56.5px;
  width: 1043px;
  height: 93px;
  margin-top: 57px;
  font-family: "Bebas Neue-Regular", Helvetica;
  font-weight: 400;
  color: #f5c400;
  font-size: 96px;
  text-align: center;
  letter-spacing: -0.48px;
  line-height: 139.2px;
  white-space: nowrap;
}

.desktop .text-wrapper-3 {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 38px;
  width: 1080px;
  height: 544px;
  font-family: "Inter-Bold", Helvetica;
  font-weight: 700;
  color: #111111;
  font-size: 40px;
  letter-spacing: -0.20px;
  line-height: 58.0px;
}

.desktop .img {
  position: fixed;
  width: 100vw;
  height: 228px;
  object-fit: cover;
}

.desktop .header {
  display: flex;
  width: 1280px;
  align-items: center;
  justify-content: center;
  padding: 24px 0px;
  position: fixed;
  top: 0;
  left: 0;
}

.desktop .nav {
  display: inline-flex;
  gap: 70px;
  padding: 16px 40px;
  flex: 0 0 auto;
  background-color: #0000000d;
  border-radius: 40px;
  backdrop-filter: blur(35px) brightness(100%);
  -webkit-backdrop-filter: blur(35px) brightness(100%);
  align-items: center;
  justify-content: center;
  position: relative;
}

.desktop .text-wrapper-4 {
  display: flex;
  width: fit-content;
  margin-top: -1.00px;
  font-family: "Anton-Regular", Helvetica;
  font-weight: 400;
  color: #efe33ad4;
  font-size: 16px;
  text-align: center;
  letter-spacing: -0.08px;
  line-height: 23.2px;
  white-space: nowrap;
  align-items: center;
  justify-content: center;
  position: relative;
}

.desktop .text-wrapper-5 {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: fit-content;
  margin-top: -1.00px;
  font-family: "Anton-Regular", Helvetica;
  font-weight: 400;
  color: #efe33ad4;
  font-size: 16px;
  text-align: center;
  letter-spacing: -0.08px;
  line-height: 23.2px;
  text-decoration: underline;
  white-space: nowrap;
}
/* Inject original CSS from globals.css here */

.desktop {
  position: relative;
  width: 1280px;
  height: 2804px;
  background-color: #00bcf0;
}

.desktop .origem {
  position: absolute;
  width: calc(100% - 120px);
  height: calc(100% - 1997px);
  top: 103px;
  left: 62px;
}

.desktop .rectangle {
  position: absolute;
  width: calc(100% - 4px);
  height: 100%;
  top: 0;
  left: 0;
  background-color: #fffffff2;
  border-radius: 8px;
}

.desktop .text-wrapper {
  position: absolute;
  top: 96px;
  left: calc(50.00% - 157px);
  width: 299px;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Bebas Neue-Regular", Helvetica;
  font-weight: 400;
  color: #f5c400;
  font-size: 128px;
  text-align: center;
  letter-spacing: -0.64px;
  line-height: 185.6px;
  white-space: nowrap;
}

.desktop .div {
  position: absolute;
  width: calc(100% - 80px);
  left: 45px;
  bottom: 171px;
  height: 290px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Inter-Bold", Helvetica;
  font-weight: 700;
  color: #111111;
  font-size: 40px;
  letter-spacing: -0.20px;
  line-height: 58.0px;
}

.desktop .serie {
  position: absolute;
  width: calc(100% - 120px);
  height: calc(100% - 1997px);
  top: 998px;
  left: 62px;
}

.desktop .p {
  position: absolute;
  top: 116px;
  right: 61px;
  width: 1043px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Bebas Neue-Regular", Helvetica;
  font-weight: 400;
  color: #f5c400;
  font-size: 96px;
  text-align: center;
  letter-spacing: -0.48px;
  line-height: 139.2px;
  white-space: nowrap;
}

.desktop .a-adapta-o-para-a-TV {
  position: absolute;
  width: calc(100% - 80px);
  left: 38px;
  bottom: 274px;
  height: 188px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Inter-Bold", Helvetica;
  font-weight: 700;
  color: #111111;
  font-size: 40px;
  letter-spacing: -0.20px;
  line-height: 58.0px;
}

.desktop .proposta {
  position: absolute;
  width: calc(100% - 124px);
  left: 62px;
  bottom: 104px;
  height: 807px;
  display: flex;
  flex-direction: column;
  background-color: #fffffff2;
  border-radius: 8px;
}

.desktop .text-wrapper-2 {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 56.5px;
  width: 1043px;
  height: 93px;
  margin-top: 57px;
  font-family: "Bebas Neue-Regular", Helvetica;
  font-weight: 400;
  color: #f5c400;
  font-size: 96px;
  text-align: center;
  letter-spacing: -0.48px;
  line-height: 139.2px;
  white-space: nowrap;
}

.desktop .text-wrapper-3 {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 38px;
  width: 1080px;
  height: 544px;
  font-family: "Inter-Bold", Helvetica;
  font-weight: 700;
  color: #111111;
  font-size: 40px;
  letter-spacing: -0.20px;
  line-height: 58.0px;
}

.desktop .img {
  position: fixed;
  top: calc(50.00% - 114px);
  right: 245px;
  width: 759px;
  height: 228px;
  object-fit: cover;
}

.desktop .header {
  display: flex;
  width: 1280px;
  align-items: center;
  justify-content: center;
  padding: 24px 0px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
}

.desktop .nav {
  display: inline-flex;
  gap: 70px;
  padding: 16px 40px;
  flex: 0 0 auto;
  background-color: #0000000d;
  border-radius: 40px;
  backdrop-filter: blur(35px) brightness(100%);
  -webkit-backdrop-filter: blur(35px) brightness(100%);
  align-items: center;
  justify-content: center;
  position: relative;
}

.desktop .text-wrapper-4 {
  display: flex;
  width: fit-content;
  margin-top: -1.00px;
  font-family: "Anton-Regular", Helvetica;
  font-weight: 400;
  color: #efe33ad4;
  font-size: 16px;
  text-align: center;
  letter-spacing: -0.08px;
  line-height: 23.2px;
  white-space: nowrap;
  align-items: center;
  justify-content: center;
  position: relative;
  text-decoration: none;
  cursor: pointer;
  transition: color 0.2s ease;
}

.desktop .text-wrapper-4:hover,
.desktop .text-wrapper-4:focus {
  color: #f5c400;
}

.desktop .text-wrapper-5 {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: fit-content;
  margin-top: -1.00px;
  font-family: "Anton-Regular", Helvetica;
  font-weight: 400;
  color: #efe33ad4;
  font-size: 16px;
  text-align: center;
  letter-spacing: -0.08px;
  line-height: 23.2px;
  text-decoration: underline;
  white-space: nowrap;
  cursor: pointer;
  transition: color 0.2s ease;
}

.desktop .text-wrapper-5:hover,
.desktop .text-wrapper-5:focus {
  color: #f5c400;
}
